<%- include('partials/navbar.ejs') %>

<section style="background-color: white;">
  <div class="container py-5">
    <div class="row">

      <!-- SIDEBAR -->
      <%- include('partials/sidebar.ejs') %>
      <!-- END SIDEBAR -->
      <div class="col-md-6 col-lg-7 col-xl-8">
        <h2 id="chat-header">
        </h2>
        <div class="chat-container">
          <ul class="list-styled" id="chat-lists">
            <!-- FETCHED MESSAGE -->
          </ul>
        </div>

        <!-- FORM MESSGAE -->
        <div class="bg-white mb-3" id="message-container">
          <form action="" id="message-form">
            <div class="form-outline">
              <textarea class="form-control" id="message-field" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-info btn-rounded float-end">Send</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const messageFormContainer = document.getElementById('message-container')
  messageFormContainer.style.display = 'none'
  const chatList = document.getElementById('chat-lists')
  const socket = io('http://localhost:3002/', {
    query: {
      token: sessionStorage.getItem('token')
    }
  })

  let recieveChatCard = document.getElementById('chat-message')

  socket.on('messages', (data) => {
    console.log(data)
    chatList.innerHTML += `
          <li class="d-flex justify-content-between mb-4">
            <div class="card">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0">${data.from.username}</p>
              </div>
              <div class="card-body">
                <p class="mb-0" id="chat-message">${data.data}</p>
              </div>
            </div>
          </li>
          `
    console.log(data.data)
  })

  let recieverData;

  function handleClick(e, id) {
    e.preventDefault()
    chatList.innerHTML = ''
    messageFormContainer.style.display = 'block'
    fetch(`http://localhost:3002/api/chat?id=${id}`, {
      headers: {
        token: sessionStorage.getItem('token')
      }
    }).then(async (result) => {
      const data = await result.json()
      console.log(data.user)
      recieverData = data.user
      document.getElementById('chat-header').innerHTML = recieverData.username
      const message = data.messages
      if (message.length > 0) {
        message.map(function (value) {
          chatList.innerHTML += `
          <li class="d-flex justify-content-between mb-4">
            <div class="card">
              <div class="card-header p-3">
                <p class="fw-bold mb-0">${value.user.username}</p>
              </div>
              <div class="card-body">
                <p class="mb-0" id="chat-message">${value.message}</p>
              </div>
            </div>
          </li>
          `
        })
      } else {
        chatList.innerHTML = ''
      }
    }).catch((error) => {
      console.error(error)
    })
  }

  $(document).ready(function () {
    $('#message-form').on('submit', (e) => {
      e.preventDefault()
      const message = $('#message-field').val()
      const data = {
        to: recieverData.id,
        message: message
      }

      socket.emit('sendmessage', data)
      $('#message-field').val('')
      chatList.innerHTML += `
          <li class="d-flex justify-content-between mb-4">
            <div class="card">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0">${sessionStorage.getItem('user')}</p>
              </div>
              <div class="card-body">
                <p class="mb-0" id="chat-message">${data.message}</p>
              </div>
            </div>
          </li>
          `
    })
  })
</script>